body{
  box-sizing:border-box;
  font-size:16px;
  margin: 0 0; 
}


/*STYLING THE IMAGES AND ICONS*/ 
.nav-right img {
  width:5vh;
}
.nav-left img {
  width:45vw;
}
.form-box img {
  width:3em;
}

.box img {
  width:13.5vh;
  }

.star {
  width:3.5em;
}
.round-box{
  width:12vh;
  height:12vh;
  border-radius:50%;
  background-color:white;
}
.logo-info {
  width: 6vh;
}

/*DISPLAY*/ 
nav{
  position:fixed;
  width:100%;
  height:12vh;
  display:flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.nav-left {
  width:75%;
  display:flex;
  flex-flow: column;
  justify-content: center;
  padding-left:40px;
}

.nav-left p {
  margin-top:32px;
}

.nav-right{ 
  width:30%;
  display:flex;
  justify-content: center;
  align-items: flex-start;
}
.nav-right img{
  margin: 25px 12px;
}

header .empty {
  width:100%; 
  height:70vh;

}

header .order {
  width:100%; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

header .order h1 {
  text-align: center;
  width:90%; 
  margin-top:70px;
}

header .order form .form-box {
height:10vh;
width: 80vw;
display: flex;
justify-content:space-between;
align-items: center;

}

header .order form .form-box img {
  margin-left:72px;
}

header .order form .form-box.address {
  margin-top:60px;
}

header form {
  display:flex;
  flex-flow: column;
  justify-content: space-evenly; 
  align-items: left;
}

header .form-box input {
  width:60vw;
  height:7vh;
}

header .submit {
width:27vh;
margin-top: 75px; 
margin-bottom: 90px;
height:9vh;
text-align:left;
padding: 15px 20px;
}

#description{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#description h2{
  width:90%; 
  height:18vh;
  padding-top: 10vh ;
}

#description .box {
  width:100%;
  display:flex;
  justify-content: space-evenly;
  align-items: flex-start;
  height:23vh;
  margin-bottom:95px;
}

#description .box .text {
  width:50%;
  padding-right:50px;

}

#description .box .text h3 {
  padding-top: 20px;
  margin-bottom:50px;
}

#description .box .text p {
  width:100%;
}

#dishes {
  padding-bottom:4vh;
}

#dishes h2{
  width:90%; 
  height:9vh;
  padding-top: 5vh ;
}

#dishes .dish{
  width:90%;
  height:61vh;
  margin: 4vh auto;

}

#dishes .dish .empty {
  height:27vh;
 
}

#dishes .dish-description {
  padding-bottom:4px;

}
#dishes .dish-description h4 {
  height:7vh;
  padding-left:35px;
  padding-top:35px;

}
#dishes .dish-description h5 {
  height:3vh;
  padding-left:35px;

}

#dishes .dish-description .price, #dishes .dish-description .ratings {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 14px 35px 0px;
}

#dishes .dish-description .price {
  height:12vh;
  border-bottom:solid 3px #f5f5eb;;
}

#dishes .dish-description .ratings {
  height:8vh;
  border-top:solid 3px #f5f5eb;
}

#infos{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  margin:0 auto;
}

.round-box{
 display:flex;
 justify-content: center;
 align-items:center;
  
}

.block-info {
  width:45%;
  height: 46vh;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items:center;
  padding: 50px 10px 15px;
}

.block-info h3, .block-info p {
  width: 80%;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 20px;
}

/* FONTS & Colors */ 
nav {
  background-color:white;
}

.nav-left p {
  font-size:250%;
  font-weight: lighter;
  color: grey;

}

header .order {
  background:linear-gradient(to bottom, #c0da38 0% , #9ed345 33%, #74cc52 100%);
}
header .order h1 {
  font-size:650%; 
  font-weight: bold;
  line-height: 125%;
  letter-spacing: 4px;
  color:white;
}

header .order form .form-box input {
  font-size: 320%;
  font-weight: 300;
}
header .order form .address {
background : white;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom: solid 2px grey;

}

header .order form .foodtype {
  background : white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: solid 2px grey;
  }

 
header .submit {
    background-color:#f76647;
    color:white; 
    font-size:350%;
    font-weight: 600; 
    border: none;
    border-radius:15px;
    text-align:center;
    }

#description h2{
  color:#f76647 ; 
  font-size: 700%;
  font-weight: bold;
  text-align:center;
}
#description .box  h3{
  font-size:400%;
  font-weight:bold;
}

#description .box .text p {
  font-size:300%;
  color:grey;
  font-weight: 300;
  text-align: justify;
  letter-spacing: 1px;
}

#dishes {
  background-color:#f5f5eb;

}

#dishes h2{
  color:#f76647 ; 
  font-size: 700%;
  font-weight: bolder;
  text-align:center;
}

#dishes .dish{
  background-color:white;
  border-radius:19px;

}

#dishes .dish .empty {
  border-top-left-radius:  19px;
  border-top-right-radius:  19px;
}

#dishes .dish-description h4 {
  font-size:320%; 
}

#dishes .dish-description h5 {
font-size:270%;
font-weight:light;
color:grey;
}

#dishes .dish-description .price {
 font-size:350%;
 font-weight:bold;
}

#dishes .dish-description .ratings a {
  font-size:43px;
  text-decoration:none;
  color:grey;
  padding-right:40px;
 }

 #dishes .dish-description .price button {
  font-size:43px;
  text-decoration:none;
  color:white;
  background-color:#5fb03a;
  height:5.5vh;
  width:29vw;
  border-radius:18px;
  font-weight:lighter;
  padding: 15 px;
  margin-right:25px;
 }

.empty {
 background-color:#999;
}
#infos {
  background:linear-gradient(to bottom, #f76647 0% , #f97044 33%,  #ee3b51 100%);
  color:white; 
}

.block-info h3 {
  color:white;
  font-size: 370%;
  font-weight: bold;
}

.block-info p {

  color:white;
  font-size: 300%;
}